*{
  text-align: center;
}
header{
  position: relative;
  text-align: center;
  background: steelblue;
  padding-top:0;
}
.board table{
  margin: 0 auto;
  height:25vw;
  width:25vw;
}
.board table td{
  width: 33%;
  height:33%;
}
tr.top td{
  border-bottom: 1px solid black;
}
tr.bot td{
  border-top: 1px solid black;
}
tr td:last-child{
border-left: 1px solid black;
}
tr td:first-child{
  border-right: 1px solid black;
}
.option_overlay{
  width:100vw;
  height:100%;
  background-color: rgba( 0, 0, 0, .5);
  z-index: 200 ;
  position:fixed;
}
.options{
  width:20vw;
  height: 100%;
  background-color: #555;
  z-index: 200;
  position:absolute;
}
.options i{
  color:white;
  position: absolute;
  z-index: 201;
}
#close_option_btn i{
  font-size: 2.5em;
  position: absolute;
  right:-20px;
  top:10px;
}
#close_option_btn i:hover{
  color:red;
}
#open_option_btn i{
  font-size: 2.5em;
  float:left;
  padding-top: 10px;
}
#open_option_btn i:hover{
  color:red;
}

.option_group{
  margin:40px 0;

}
.winDisplayAll{
  padding-top: 20px;
}
.winDisplayLeft{
  float:left;
}
.winDisplayRight{
  float:right;
}

