*{
  text-align: center;
}
.player-group{
  margin-top:8vw;
  font-size: 1.4em;
}
.player-group img{
  max-height:200px;
  max-width:100px;
  min-height:100px;
  min-width:50px;
  height:14vw;
  width:7vw;
}
header{
  position: relative;
  text-align: center;
  background: steelblue;
  padding-top:0;
}
.board img{
  width:100%;
}
.board table{
  margin: 0 auto;
  height:25vw;
  width:25vw;
  min-height:180px ;
  min-width:180px;
}
.board table td{
  width: 33%;
  height:33%;
}
tr.top td{
  border-bottom: 1px solid black;
}
tr.bot td{
  border-top: 1px solid black;
}
tr td:last-child{
border-left: 1px solid black;
}
tr td:first-child{
  border-right: 1px solid black;
}
.winDisplayAll{
  padding-top: 20px;
}
.winDisplayLeft{
  float:left;
}
.winDisplayRight{
  float:right;
}
#winOverlay {
  width:100vw;
  height:100%;
  background-color: rgba( 0, 0, 0, .5);
  z-index: 200 ;
  position:fixed;
  display:none
}
#showOnWin{
  width: 100%;
  margin:20vh 0;
  padding: 1em;
  height: 40vh;
  background-color: #555;
  z-index: 250;
  position:absolute;
  color:steelBlue;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size:5.3em;
  font-weight:800;
}
.fliped{
    transform: scaleX(-1);
    filter: FlipH;
}
