body{
  position{

  }
}
header{
  text-align: center;
  background: steelblue;
  padding-top:0;
}
.board table{
  margin: 0 auto;
  height:25vw;
  width:25vw;
  text-align: center;
}
tr.top td{
  border-bottom: 1px solid black;
}
tr.mid td{
  border-bottom: 1px solid black;
}
tr.bot td{
  border-top: 1px solid black;
}
.figure_1{
  text-align: center;
}
.figure_2{
  text-align: center;
}
tr td:last-child{
border-left: 1px solid black;
}
tr td:first-child{
  border-right: 1px solid black;
}

.option_overlay{
  width:100vw;
  height:100%;
  background-color: rgba( 0, 0, 0, .5);
  z-index: 200 ;
  position:absolute;
}
.options{
  width:20vw;
  height: 100%;
  background-color: #555;
  z-index: 200;
  position:absolute;
}
